{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}
{% section 'product-recommendations' %}

{% if collection %}
  <div class="text-center return-link-wrapper page-width">
    <a href="{{ collection.url }}" class="btn btn--secondary btn--has-icon-before return-link">
      {% include 'icon-arrow-left' %}
      {{ 'products.product.back_to_collection' | t: title: collection.title }}
    </a>
  </div>
{% endif %}

<script>
  // Override default values of shop.strings for each template.
// Alternate product templates can change values of
// add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>

{% assign current_variant = product.selected_or_first_available_variant %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "@id": {{ canonical_url | append: '#product' | json }},
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},{%- if product.featured_media -%}
      {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
      "image" : [{{ product.featured_media | img_url: media_size | prepend: "https:" | json }}],{%- endif -%}
    "description": {{ product.description | strip_html | json }},{%- if current_variant.sku != blank -%}
      "sku" : {{ current_variant.sku | json }},{%- endif -%}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [{%- for variant in product.variants -%}
        {
          "@type": "Offer",
          {%- if variant.sku != blank -%}
            "sku" : {{ variant.sku | json }},
          {%- endif -%}
          "availability": "http://schema.org/ {% if variant.available %}InStock
          {% else %}
            OutOfStock{% endif %}",
          "price": {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency": {{ cart.currency.iso_code | json }},
          "url": {{ shop.url | append: variant.url | json }}
        }
        {% unless forloop.last %},{% endunless %}{%- endfor -%}]
  }
</script>

<!--Start Stamped.io Auto Installation-->
<div id="stamped-main-widget" class="stamped-main-widget" data-widget-style="standard" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}">{{ product.metafields.stamped.reviews }}</div>
<!--End Stamped.io Auto Installation-->
<script>
  (function soluteLandingTracking() {
    if (location.href.indexOf("soluteclid") < 0) 
      return;
    
    localStorage.setItem("soluteclid", (new Date()).getTime() + " " + location.href);
    var url = "https://cmodul.solutenetwork.com/landing";
    url += "?url=" + encodeURIComponent(location.href);
    var req = new XMLHttpRequest();
    req.open("GET", url);
    req.send();
  })();
</script>